body {
    min-height: 100vh;  /* needed to make sure body fills up window */
}
header {
}
main {
  font-family: montserrat, sans-serif; font-weight: 200; font-style: normal;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  flex:  0 1 auto;
}
h1 {
  color: rgb(90, 30, 140);
  font-family: montserrat, sans-serif; font-weight: 200; font-style: normal;
}
h2, h3 {
  color: rgb(255, 255, 255);
}
h2 {
  font-family: montserrat, sans-serif; font-weight: 600; font-style: normal;
}
h3 {
  font-family: montserrat, sans-serif; font-weight: 200; font-style: italic;
}
h4, span {
  color: rgb(201, 82, 61);
  font-family: montserrat, sans-serif;
  font-style: normal;
}
span {
  font-weight: 500;
}
hr {
  width: 160%;
}
#Installation {
  height: 25%;
  width: 25%;
  padding-left: 10%;
}
#Sketch {
  height: 30%;
  width: 30%;
  padding-top: 4%;
  padding-bottom: 4%;
  padding-right: 16%;
  padding-left: 3%;
}
#InGreen {
  height: 22%;
  width: 22%;
  padding-left: 10%;
  padding-right: 4%;
}
#TopStuff {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex:  0 1 auto;
  padding-top: 2%;
  padding-bottom: 2%;
  padding-right: 15%;
  padding-left: 10%;
}
#Nav {
  Helvetica: font-family: helvetica; font-size: normal;
}
#Bruce {
  display: flex;
  flex-direction: row;
  /*justify-content: space-around;*/
  align-items: center;
  flex:  0 1 auto;
}
#Nauman {
  font-size: 350%;
}
#Blue {
  font-size: 220%;
}
#CorridorHeadings {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex:  0 1 auto;
  padding-left: 13%;
}
#hFirstMainAndPic {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex: 0 1 auto;
}
#vFirstMain {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 0 1 auto;
  padding-top: 4%;
  padding-bottom: 4%;
  padding-right: 4%;
  padding-left: 10%;

}
#Extended, #Manetti, #Hours {
  font-weight: 500;
}
#Guest {
  font-weight: 200;
  width: 60%
}
#ReadMore {
  font-weight: 200;
  text-decoration: underline;
}
#HiddenInfo {
  display: none;
  flex-direction: row;
  /*justify-content: space-around;*/
  align-items: center;
  flex:  0 1 auto;
  padding-bottom: 5%;
}
#vSecondMain {
  display: flex;
  flex-direction: column;
  /*justify-content: space-around;
  align-items: center;*/
  flex:  0 1 auto;
  padding-right: 16%;
}
@media(min-width: 480px) { /*Tablet*/
  footer {
    color: rgb(201, 82, 61);
    font-family: montserrat, sans-serif; font-weight: 200; font-style: normal;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex: 0 1 auto;
    padding-left: 10%;
    padding-right: 36%;
    padding-top: 2%;
    padding-bottom: 2%;
  }
}
@media(min-width: 780px) { /*Standard Web*/
  footer {
    color: rgb(201, 82, 61);
    font-family: montserrat, sans-serif; font-weight: 200; font-style: normal;
    display: none;
    flex-direction: row;
    justify-content: space-between;
    flex: 0 1 auto;
    padding-left: 10%;
    padding-right: 36%;
    padding-top: 2%;
    padding-bottom: 2%;
  }
}
